* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
}
body,
html {
	overflow-x: hidden;
}
nav {
	margin: 0 auto;
	max-width: 1100px;
	width: 100%;
}
#checkbox-menu,
.toggle {
	display: none;
}
.menu {
	padding: 0;
	margin: 0;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}
.menu li a {
	color: #202020;
	text-decoration: none;
	align-self: center;
	font-size: 13px;
	padding: 10px 15px;
	transition: background .2s linear;
}
.menu li a:hover {
	background: #ffd100;
	border-radius: 3px;
}
.menu li a.logo {
	font-size: 25px;
	margin-right: 240px;
}
.menu li a.contacts {
	margin-right: 100px;
}
.wrapper {
	margin: 0 auto;
	max-width: 1100px;
	width: 100%;
}
.intro {
	margin: 25px;
	display: flex;
	justify-content: flex-end;
}
.intro-img {
	background: url("img/photo-1486304873000-235643847519.jpg");
	background-repeat: no-repeat;
	width: 945px;
	height: 640px;
	position: relative;
}
.intro .intro-text {
	position: absolute;
	font-size: 3.5em;
	left: 0;
	top: 10%;
}
.intro-contacts {
	background-color: #ffcc01;
	position: absolute;
	right: 5.9%;
	top: 55%;
	display: flex;
	justify-content: space-between;
	padding: 1em 1em;
}
.intro-contacts i {
	color: #fff;
	margin-right: 0.25em;
	margin-left: 0.25em;
}
.intro-contacts p {
	font-size: 18px;
	margin-right: 1em;
}

@media screen and (max-width: 765px) {
	.toggle {
		clear: both;
		display: block;
		text-align: center;
		font-size: 18px;
		line-height: 40px;
		width: 100%;
		color: #202020;
		background: #ffd100;
		transition: all .1s linear;
	}
	.toggle:hover {
		background: #d3a900;
	}
	#checkbox-menu:checked + label .touch li {
		opacity: 1;
		visibility: visible;
		transition: all .7s linear;
	}
	#checkbox-menu:checked + label .touch {
		height: 350px;
	}
	.menu {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 0;
		transition: height .3s linear;
	}
	.menu li {
		display: flex;
		align-self: center;
		width: 95%;
		opacity: 0;
		visibility: hidden;
	}
	.menu li a {
		width: 95%;
		text-align: center;
		align-self: center;
		align-content: center;
	}
	.menu li a.logo {
		font-size: 21px;
		margin-right: 0;
	}
	.menu li a.contacts {
		margin-right: 0;
	}
	.intro {
		margin-top: 0;
		display: block;
		max-width: 100%;
	}
	.intro-img {
		left: 50%;
		margin-left: -210px;
	}
	.intro .intro-text {
		position: relative;
		font-size: 42px;
		right: -20px;
		left: 0.5%;
		top: 15%;
	}
	/*ստեղ հետո ընպես որ տակը մեկ գծով էղնի*/
	.intro .intro-contacts {
		position: relative;
		display: block;
		font-size: 30px;
		right: 0;
		top: 45%;
		line-height: 1em;
		padding: 0.25em 0.5em;
		width: 20%;
		border-radius: 0.25em;
	}
}
